 <html>
    <head>
        <title>Main</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Welcome!</h1>
            </div>
            <div id="content">
                Hello <strong>{{ request.cookies.get('id') }}</strong> !!
                현재 잔고는 {{ request.cookies.get('money') }}
            </div>
        </div>
    </body>
</html>
