 <html>
    <head>
        <title>Main</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Welcome!</h1>
            </div>
            <div id="content">
                {% if request.cookies %}
                    <form method="post" action="{{ url_for('logout') }}">
                        Hello <strong>{{ request.cookies.get('id') }}</strong> !!
                        <p>현재 잔고는 {{ request.cookies.get('money') }} 원입니다</p>
                        <p>{{ nse }}</p>
                        <a href="/logout"><input type="button" value="Logout"/></a>
                    </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>
