<html>
    <head>
        <title>Login</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Login</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('login') }}">
                  <label for="user_id">Please enter your ID:</label>
                  <input type="text" name="user_id" /><br />
                  <label for="user_pw">Please enter your PW:</label>
                  <input type="password" name="user_pw" /><br />
                  <input type="submit" value="Sign in"/>
                  <a href="/register"><input type="button" value="Sign up"/></a>
                </form>
            </div>
        </div>
    </body>
</html>