<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<title>Test</title>
    </head>
    <style>
	.col-md-1 {

	}
    </style>
    <body>
	<div class="row">
	    <div class="col-md-1" style="background-color: red">RED</div>
	    <div class="col-md-1" style="background-color: orange">ORANGE</div>
	    <div class="col-md-1" style="background-color: yellow">YELLOW</div>
	    <div class="col-md-1" style="background-color: green">GREEN</div>
	    <div class="col-md-1" style="background-color: blue">BLUE</div>
	    <div class="col-md-1" style="background-color: purple">PURPLE</div>
	    <div class="col-md-1" style="background-color: black">BLACK</div>
	    <div class="col-md-1" style="background-color: white">WHITE</div>
	    <div class="col-md-1" style="background-color: brown">BROWN</div>
	    <div class="col-md-1" style="background-color: red">Hello</div>
	    <div class="col-md-1" style="background-color: blue">World</div>
	    <div class="col-md-1" style="background-color: yellow">!</div>
	</div>
    </body>
</html>
